html {
    font-family: sans-serif;
    background: #00ccff;
}

.inbox {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px';
}

.item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
    border-bottom: 0;
}

input:checked + p {
    background: #f9f9f9;
    text-decoration: line-through;
}

input[type="checkbox"] {
    margin: 20px;
}

p {
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
    flex: 1;
    font-family: 20px;
    font-size: 200;
    font-weight: 200;
    border-left: 1px solid #d1e2ff;
}